.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
:root{
    --black: #000000;
    --red: #EE3643;
    --white: #FFFFFF;
    --grey: #A9A9A9;
    --light-grey: #EAEAEA;
    --green: #518534;

    --basic-green: #63A63E;
    --basic-grey: #3d546f;
    --basic-lightgray: #C5C5C5;
    --basic-background: #F1F5F7;
    --special-yellow: #FFBF47;
    --special-blue: #3BBCE3;
    --special-lilac: #DC91D8;
    --special-lightgreen: #8ED78F;
    --special-lightyellow: #FFD180;
    --special-yellow2: #ffc047;

    --darkgrey: #293449;

    --white2: #f3f7f9;
    --white3: #F2F6F8;
    --white4: #F9F5F0;
    --yellow-menu: #FFD180;
    --verydarkblue: #161D29;
    --darkblue: #1D2739;
    --blue: #32425C;
    
    --luck: #5FBB2D;
    --warning: #FFBF47;
    --error: #BA2732;
}

/*Общие параметры*/
body{
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    color: var(--white);
    background-color: var(--white);
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

.page{
    height: 100%;
}

.page-body{
    min-width: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

/*Списки*/
.list-navigation li,
.transport-list li,
.social-list ,
.promo-list,
.service-item-button,
.list-footer-navigation li{
    list-style: none;
}

/*Main header*/
.main-header{
    margin-bottom: 59px;
    background-color: var(--basic-background);
}

.main-header a{
    color: var(--white);
}

.main-menu-wrapper{
    background-color: var(--darkgrey);
    width: 100%;
}

.logo{
    background-color: var(--red) ;
    background-size: 220px 42px;
    /*margin-top: 5px;*/
    /*width: 220px;
    height: 42px;*/
}

.container{
    width: 940px;
    margin: 0 auto;
    padding: 0 0px;
}

.main-menu{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.main-navigation{ 
    margin-bottom: 60px;
}

.list-navigation{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    background-color: var(--blue); 
}

.item-navigation a{
    display: block;
    padding-top: 16px;
    padding-bottom: 20px;
    /*padding-right: 47px;
    padding-left: 52px;*/
}

.bookmarks, 
.basket,
.order,
.main-navigation{
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    font-family: 'Cuprum', sans-serif;
}

a.bookmarks,
a.basket,
a.order{
    padding-top: 9px;
    padding-bottom: 9px;
}

a.order{
    background-color: var(--basic-green);
    width: 150px;
    text-align: center;
}

.telephone a{
    font-size: 21px;
    line-height: 30px;
    color: var(--red);
    font-weight: bold;
    text-align: left;
    font-family: 'Cuprum', sans-serif;
}

p.name{
    font-size: 16px;
    line-height: 23px;
    vertical-align: center;
    color: var(--red);
    font-style: italic;
    text-align: left;
    font-family: 'Cuprum', sans-serif;
}

.address{
    font-size: 14px;
    font-style: normal;
    color: var(--blue);
    font-family: 'Cuprum', sans-serif;    
}

a.login-enter,
a.login-reg{
    font-size: 21px;
    line-height: 21px;
    vertical-align: center;
    color: var(--black);
    text-align: center;
    font-family: 'Cuprum', sans-serif;
}

a.login{
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    color: var(--black);
    font-family: 'Cuprum', sans-serif;
}

.account a{
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: var(--blue);
    font-family: 'Cuprum', sans-serif;
}

.telephone a::before{
    content: url(../img/icon-phone.svg);
    background-repeat: no-repeat;
}

a.bookmarks::before{
    content: url(../img/icon-bookmark.svg);
    background-repeat: no-repeat;
}

a.basket::before{
    content: url(../img/icon-cart.svg);
    background-repeat: no-repeat;
}

a.login-enter::before{
    content: url(../img/icon-login.svg);
    background-repeat: no-repeat;
}

.logo:active{
    background-color: var(--error);
}

a.order:hover,
a.order:focus{
    background-color: var(--luck);
}

a.bookmarks:active,
a.basket:active{
    background-color: var(--verydarkblue);
    opacity: 0.5;
}

a.login-enter:hover,
a.login-reg:hover,
.account a:hover{
    color: var(--red);
}

a.login:active,
a.login-enter:active,
a.login-reg:active,
.account a:active{
    color: var(--basic-lightgray);
}

.item-navigation a:hover,
.item-navigation a:focus{
    background-color: var(--darkgrey);
}

.item-navigation a:active{
    background-color: var(--darkblue);
    opacity: 0.5;
}

/*main*/
.promo{
    margin-bottom: 59px;
}

.promo-list{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 123px 123px 123px;
    gap: 20px;

    padding: 0;
    margin: 0;
}

.promo-item-marketing{
    outline-offset: -5px;
    outline: 5px solid rgba(0, 255, 255, 0.7);
  
    padding: 0;
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}

.promo-item-delivery{
    grid-column-start: 3;
    grid-row-start: 3;
}

.slider{
    padding: 0;
    margin: 0;
}

.promo-list h3{
    font-size: 24px;
    line-height: 30px;
    font-family: 'Cuprum', sans-serif;
    color: var(--white);
}

.promo-item-materials{
    background-color: var(--special-yellow);
}

.promo-item-instrument{
    background-color: var(--special-blue) ;
}

.promo-item-technic{
    background-color: var(--special-lilac);
}

.promo-item-discount{
    background-color: var(--special-lightgreen);
}

.promo-item-delivery{
    background-color: var(--special-yellow2);
}


.promo-item-materials a:hover,
.promo-item-instrument a:hover,
.promo-item-technic a:hover,
.promo-item-discount a:hover,
.promo-item-delivery a:hover{
    background-color: var(--basic-lightgray);
}

.promo-item-materials a:active,
.promo-item-instrument a:active,
.promo-item-technic a:active,
.promo-item-discount a:active,
.promo-item-delivery a:active{
    background-color: var(--grey);
}

.promo-list a{
    font-size: 14px;
    line-height: 18px;
    font-family: 'Cuprum', sans-serif;
    color: var(--white);
    text-transform: uppercase;
    text-align: center;
    opacity: 0.3;
}

.slider h3{
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: var(--white);
    font-family: 'Cuprum', sans-serif;
    font-weight: bold;
}

.slider p{
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
    font-family: 'Cuprum', sans-serif;
}

.slider .open-catalog{
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    font-family: 'Cuprum', sans-serif;
    background-color: var(--red);
    opacity: 1;
}

.slider-perforator{
    width: 620px;
    height: 266px;
    padding: 0;
    margin: 0;
    background-color: var(--grey);
    background-image: url("../img/perforator.jpg");
}

.slider-drills{
    width: 620px;
    height: 266px;
    background-color: var(--grey);
    background-image: url("../img/drills.jpg");
}

.slider .open-catalog:active{
    background-color: var(--error);
}

/*Преимущества и контакты*/
.features,
.contacts{
    color: var(--black);
}

.features p,
.contacts p{
    margin-bottom: 32px;
    font-size: 13px;
    line-height: 24px;
    text-align: left; 
}

h2.features-header,
h2.contacts-header{
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-family: 'Cuprum', sans-serif;
    font-weight: normal;
}

.features .transport-item{
    font-size: 18px;
    line-height: 24px;
    font-family: 'Cuprum', sans-serif;
}

.contacts .write-us,
.features .about{
    display: inline-block;
    padding-top: 11px;
    padding-bottom: 9px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--red);
    font-family: 'Cuprum', sans-serif;
}

.contacts .write-us{
    width: 300px;
}

.features .about{
    width: 220px;
}

.contacts img{
    margin-bottom: 25px;
}

.contacts .write-us:active,
.features .about:active{
    background-color: var(--error);
}

.index-columns{
    outline: 1px solid rgba(0, 255, 255, 0.7);
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.index-columns h2{
    margin: 0;
    /*margin-bottom: 100px;*/
}

.contacts{
    width: 300px;
}

.features{
    width: 460px;
}

/*Товары*/
.page-catalog{
    display: grid;
    grid-template-columns: 220px 1fr;
    align-content: start;
}

.product h2,
.manufacturers h2{
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--blue);
    font-family: 'Cuprum', sans-serif;
}

.product .all-product,
.manufacturers .all-manufacturers{
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
    font-family: 'Cuprum', sans-serif;
    background-color: var(--red);
}

.product .all-product:active,
.manufacturers .all-manufacturers:active{
    background-color: var(--error);
}

.header-catalog{
    grid-column: 1 / -1;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--blue);
    background-color: var(--basic-background); 
}

.breadcrumbs{
    grid-column: 1 / -1;
    padding: 0;
    margin:0;
    margin-top: 21px;
    margin-bottom: 20px;
}

.breadcrumbs a{
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--black);
}


.sort h2{
    font-size: 13px;
    line-height: 18px;
    color: var(--black);
    text-transform: uppercase;
}

.sort a{
    font-size: 13px;
    line-height: 18px;
    color: var(--black);
    opacity: 0.3;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: var(--red);
}

.sort a:hover{
    opacity: 1;
    text-decoration-style: solid;
    text-decoration-color: var(--red);
}

.sort a:active,
.sort .sort-activ{
    color: var(--red);
    opacity: 1;
    text-decoration: none;
}

.catalog-wrapper{
    margin-left: 20px;
}

.sort-list{
    display: flex;
    justify-content: space-around;
}

.catalog{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
    width: 700px;
}

.product{
    margin-bottom: 70px;
}

.product-wrapper{
    background-color: var(--white4);
    display: flex;
    flex-direction: row;   
    justify-content: space-between;
}

.manufacturers-wrapper{
    background-color: var(--white4);
    display: flex;
    flex-direction: row;   
    justify-content: space-between;
}

.product-list{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
    margin-top: 20px;    
}

.manufacturers-list{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 25px;   
    margin-top: 20px; 
}

.product-item{
    outline-offset: -5px;
    outline: 5px solid rgba(134, 167, 166, 0.7);  

    width: 220px;
    min-height: 318px;
    margin-right: 20px;
    margin-bottom: 70px;
}

.manufacturers-item{
    outline-offset: -5px;
    outline: 5px solid rgba(134, 167, 166, 0.7);  

    width: 220px;
    min-height: 145px;
    margin-right: 20px;
    margin-bottom: 70px;
}

.product-item:nth-child(4n){
    margin-right: 0;
}

.manufacturers-item:nth-child(4n){
    margin-right: 0;
}

.manufacturers-item a{
    padding: 0;
}

.product-item img{
    width: 144px;
    height: 128px;
    margin-top: 22px;
    margin-left: 33px;
    margin-right: 43px;
}

.catalog-item{
    width: 220px;
    min-height: 318px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.catalog-item:nth-child(3n+1) {
    margin-right: 0;
}

.catalog-item h3{
    margin-top: 28px;
    margin-bottom: 7px;
}

.catalog-item img{
    width: 144px;
    height: 128px;
    margin-top: 22px;
    margin-left: 33px;
    margin-right: 43px;
}
.catalog h3,
.product h3{
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    color: var(--black);
}

.catalog .price-old,
.product .price-old{
    margin-bottom: 13px;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration-line: line-through;
    color: var(--grey);
}

.catalog .price-new,
.product .price-new{
    margin-bottom: 31px;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--white);
    background-color: var(--red);
}

a.buy,
a.tab{
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Cuprum', sans-serif;
}

a.buy{
    color: var(--white);
    background-color: var(--basic-green);
}

a.buy:hover{
    background-color: var(--luck);
}

a.buy:active{
    background-color: var(--green);
}

a.tab{
    color: var(--blue);
    border: 2px solid var(--basic-green);
}

a.tab:hover{
    border: 2px solid var(--blue);
}

a.tab:active{
    opacity: 0.5;
}

.manufacturers-list img:active{
    opacity: 0.5;
}

.filter{
    width: 220px;
    min-height: 720px;
}

.filter fieldset{
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    border: none;    
}

.filter legend{
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--black);
}

.filter label{
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    color: var(--black);
}

.service{
    background-color: var(--basic-background);
    display: grid;
    grid-template-columns: 240px 1fr;
    margin-bottom: 70px;
}

.service h2{
    grid-column: 1 / -1;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--black);
    font-family: 'Cuprum', sans-serif;
}

.service h3{
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--blue);
    font-family: 'Cuprum', sans-serif;
}

.service p{
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 24px;
    color: var(--black);
}

.service-wrapper1{
    margin: 0;
    padding: 0;
    margin-top: 70px;
}

.text-service{
    grid-column: 1 / -1;
    width: 400px;
}

.service-wrapper2{
    padding: 0;
    margin: 0;
    width: 619px;
    min-height: 283px;
    margin-top: 67px;
    margin-left: 80px;
}

.service-list{
    padding: 0;
    margin: 0;
}

.service-item{
    padding: 0;
    margin: 0;
}

.service-item-button{
    padding: 0;
    margin: 0;
}

.service-item-button button{
    width: 240px;
    height: 61px;
}


.service-item h3{
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}

.service-item p{
    width: 313px;
}

/*Не могу картинку сдвинуть вправо...*/
.img-delivery{
    background-image: url(../img/delivery.png);
    width: 468px;
    height: 261px;
    padding-right: 0px;
    padding-bottom: 4px;
}

.service button{
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    font-family: 'Cuprum', sans-serif;
    color: var(--white);
    background-color: var(--blue);

}

.service button:hover{
    color: var(--white);
    background-color: var(--darkgrey);
}

.service button:active,
.service .activ-button{
    color: var(--blue);
    background-color: var(--white);
}

.application-credit{
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    font-family: 'Cuprum', sans-serif;
    background-color: var(--red);
}

.about{
    grid-column: 1 / -1;
    background-color: var(--basic-background);
}

.about p{
    color: black;
    font-size: 13px;
    line-height: 24px;
}

.about h2{
    color: var(--black);
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-family: 'Cuprum', sans-serif;
}

/*footer*/
.footer-navigator{
    display: flex;
    align-items: center;
}

.footer-container1{
    background-color: var(--blue);
    padding: 0 0;
    margin:0 0;
}

.footer-container2{
    background-color: var(--darkgrey);
    margin: 0 0;
    padding: 0 0;
}

.holder{
    display: grid;
    grid-template-columns: 230px 1fr 140px 140px;
}

.footer-logo{
    background-color: var(--red);
    padding-top: 20px;
    padding-bottom: 25px;
}

.footer-navigator p,
.footer-navigator .footer-tel{
    font-size: 18px;
    line-height: 24px;
    color: var(--white2);
    font-family: 'Cuprum', sans-serif;
}

.item-footer-navigation a{
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
    font-family: 'Cuprum', sans-serif;
}

.item-footer-navigation:nth-child(2n) a{
    color: var(--yellow-menu);
}

.footer-wrapper{
    padding: 0px;
    margin: 0px;
    min-height: 300px;
}

.holder p{
    font-size: 16px;
    line-height: 18px;
    color: var(--white);
    font-family: 'Cuprum', sans-serif;
}

.holder a{
    font-size: 16px;
    line-height: 18px;
    color: var(--yellow-menu);
    text-decoration: none;
    font-family: 'Cuprum', sans-serif;
}

.copyright{
    padding-left: 1px;
    padding-top: 36px;
}

.social-list{
    justify-self: center;
}

.mail,
.developed{
    padding-bottom: 35px;
    padding-top: 35px;
}

.developed{
    padding-left: 30px;
}

.list-footer-navigation{
    display: grid;
}

.list-footer-navigation a:hover{
    text-decoration-line: underline;
}

.list-footer-navigation a:active{
    text-decoration: none;
    opacity: 0.5;
}

.mail a:hover,
.developed a:hover{
    text-decoration-line: underline;
}

.mail a:active,
.developed a:active{
    text-decoration: none;
    color: var(--red);
}
