.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
:root{
    --black: #000000;
    --red: #EE3643;
    --white: #FFFFFF;
    --grey: #A9A9A9;
    --light-grey: #EAEAEA;
    --green: #518534;

    --basic-green: #63A63E;
    --basic-grey: #3d546f;
    --basic-lightgray: #C5C5C5;
    --basic-background: #F1F5F7;
    --special-yellow: #FFBF47;
    --special-blue: #3BBCE3;
    --special-lilac: #DC91D8;
    --special-lightgreen: #8ED78F;
    --special-lightyellow: #FFD180;
    --special-yellow2: #ffc047;

    --darkgrey: #293449;

    --white2: #f3f7f9;
    --white3: #F2F6F8;
    --yellow-menu: #FFD180;
    --verydarkblue: #161D29;
    --darkblue: #1D2739;
    --blue: #32425C;
    
    --luck: #5FBB2D;
    --warning: #FFBF47;
    --error: #BA2732;
}

/*Общие параметры*/
body{
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    color: var(--white);
    background-color: var(--white);
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/*Списки*/
.list-navigation li,
.transport-list li{
    list-style: none;
}

/*Header*/
.logo{
    background-color: var(--red) ;
    background-size: 220px 47px;
}

.main-header{
    background-color: var(--basic-background);
}

.main-header a{
    color: var(--white);
}

.main-menu{
    background-color: var(--darkgrey);
}

.main-navigation{
    background-color: var(--blue);
}

.bookmarks, 
.basket,
.order,
.main-navigation{
    font-size: 18px;
    line-height: 24px;
    vertical-align: center;
    text-align: left;
    font-family: 'Cuprum', sans-serif;
}

a.order{
    background-color: var(--basic-green);
}

.telephone a{
    font-size: 21px;
    line-height: 30px;
    color: var(--red);
    font-weight: bold;
    text-align: left;
    font-family: 'Cuprum', sans-serif;
}

p.name{
    font-size: 16px;
    line-height: 23px;
    vertical-align: center;
    color: var(--red);
    font-style: italic;
    text-align: left;
    font-family: 'Cuprum', sans-serif;
}

.address{
    font-size: 14px;
    font-style: normal;
    color: var(--blue);
    font-family: 'Cuprum', sans-serif;    
}

a.login-enter,
a.login-reg{
    font-size: 21px;
    line-height: 21px;
    vertical-align: center;
    color: var(--black);
    text-align: center;
    font-family: 'Cuprum', sans-serif;
}

a.login{
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    color: var(--black);
    font-family: 'Cuprum', sans-serif;
}

.account a{
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: var(--blue);
    font-family: 'Cuprum', sans-serif;
}

.telephone a::before{
    content: url(../img/icon-phone.svg);
    background-repeat: no-repeat;
}

a.bookmarks::before{
    content: url(../img/icon-bookmark.svg);
    background-repeat: no-repeat;
}

a.basket::before{
    content: url(../img/icon-cart.svg);
    background-repeat: no-repeat;
}

a.login-enter::before{
    content: url(../img/icon-login.svg);
    background-repeat: no-repeat;
}

.logo:active{
    background-color: var(--error);
}

a.order:hover,
a.order:focus{
    background-color: var(--luck);
}

a.bookmarks:active,
a.basket:active{
    background-color: var(--verydarkblue);
    opacity: 0.5;
}

a.login-enter:hover,
a.login-reg:hover,
.account a:hover{
    color: var(--red);
}

a.login:active,
a.login-enter:active,
a.login-reg:active,
.account a:active{
    color: var(--basic-lightgray);
}

.item-navigation a:hover,
.item-navigation a:focus{
    background-color: var(--darkgrey);
}

.item-navigation a:active{
    background-color: var(--darkblue);
    opacity: 0.5;
}

/*main*/
.promo-list h3{
    font-size: 24px;
    line-height: 30px;
    font-family: 'Cuprum', sans-serif;
    color: var(--white);
}

.promo-item-materials{
    background-color: var(--special-yellow);
}

.promo-item-instrument{
    background-color: var(--special-blue) ;
}

.promo-item-technic{
    background-color: var(--special-lilac);
}

.promo-item-discount{
    background-color: var(--special-lightgreen);
}

.promo-item-delivery{
    background-color: var(--special-yellow2);
}

.promo-list a{
    font-size: 14px;
    line-height: 18px;
    font-family: 'Cuprum', sans-serif;
    color: var(--white);
    text-transform: uppercase;
    text-align: center;
    opacity: 0.3;
}

.slider h3{
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: var(--white);
    font-family: 'Cuprum', sans-serif;
    font-weight: bold;
    background-color: var(--luck);
}

.slider p{
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
    font-family: 'Cuprum', sans-serif;
    background-color: var(--luck);
}

.slider .open-catalog{
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    font-family: 'Cuprum', sans-serif;
    background-color: var(--red);
    opacity: 1;
}

.slider .open-catalog:active{
    background-color: var(--error);
}

.features,
.contacts{
    color: var(--black);
}

.features p,
.contacts p{
    font-size: 13px;
    line-height: 24px;
    text-align: left; 
}

p.features-header,
h2.contacts-header{
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-family: 'Cuprum', sans-serif;
    font-weight: normal;
}

.features .transport-item{
    font-size: 18px;
    line-height: 24px;
    font-family: 'Cuprum', sans-serif;
}

.contacts .help,
.features .about{
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--red);
    font-family: 'Cuprum', sans-serif;
}

.contacts .help:active,
.features .about:active{
    background-color: var(--error);
}

/*footer*/
.footer-navigator{
    background-color: var(--blue);
}

.container{
    background-color: var(--darkgrey);
}

.footer-logo{
    background-color: var(--red);
}

.footer-navigator p,
.footer-navigator .footer-tel{
    font-size: 18px;
    line-height: 24px;
    color: var(--white2);
    font-family: 'Cuprum', sans-serif;
}

.item-footer-navigation a{
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
    font-family: 'Cuprum', sans-serif;
}

.item-footer-navigation:nth-child(2n) a{
    color: var(--yellow-menu);
}

.container p{
    font-size: 16px;
    line-height: 18px;
    color: var(--white);
    font-family: 'Cuprum', sans-serif;
}

.container a{
    font-size: 16px;
    line-height: 18px;
    color: var(--yellow-menu);
    text-decoration: none;
    font-family: 'Cuprum', sans-serif;
}

.list-footer-navigation a:hover{
    text-decoration-line: underline;
}

.list-footer-navigation a:active{
    text-decoration: none;
    opacity: 0.5;
}

.mail a:hover,
.developed a:hover{
    text-decoration-line: underline;
}

.mail a:active,
.developed a:active{
    text-decoration: none;
    color: var(--red);
}

/*Товары*/
.product h2,
.manufacturers h2{
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--blue);
    font-family: 'Cuprum', sans-serif;
}

.product .all-product,
.manufacturers .all-manufacturers{
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
    font-family: 'Cuprum', sans-serif;
    background-color: var(--red);
}

.product .all-product:active,
.manufacturers .all-manufacturers:active{
    background-color: var(--error);
}

.header-catalog{
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--blue);
    background-color: var(--basic-background);
}

.breadcrumbs a{
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--black);
}

.sort h2{
    font-size: 13px;
    line-height: 18px;
    color: var(--black);
}

.sort a{
    font-size: 13px;
    line-height: 18px;
    color: var(--black);
    opacity: 0.3;
}

.sort a:hover{
    opacity: 1;
}

.sort a:active{
    color: var(--red);
    opacity: 1;
}

.perforator h3,
.product h3{
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    color: var(--black);
}

.perforator .price-old,
.product .price-old{
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration-line: line-through;
    color: var(--grey);
}

.perforator .price-new,
.product .price-new{
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--white);
    background-color: var(--red);
}

a.buy,
a.tab{
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Cuprum', sans-serif;
}

a.buy{
    color: var(--white);
    background-color: var(--basic-green);
}

a.buy:hover{
    background-color: var(--luck);
}

a.buy:active{
    background-color: var(--green);
}

a.tab{
    color: var(--blue);
    border: 2px solid var(--basic-green);
}

a.tab:hover{
    border: 2px solid var(--blue);
}

a.tab:active{
    opacity: 0.5;
}

.manufacturers-list img:active{
    opacity: 0.5;
}

.filter legend{
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--black);
}

.filter label{
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    color: var(--black);
}

.service{
    background-color: var(--basic-background);
}

.service h2{
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--black);
    font-family: 'Cuprum', sans-serif;
}

.service h3{
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--blue);
    font-family: 'Cuprum', sans-serif;
}

.service p{
    font-size: 13px;
    line-height: 24px;
    color: var(--black);
}

.application-credit{
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    font-family: 'Cuprum', sans-serif;
    background-color: var(--red);
}