.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
:root{
    --black: #000000;
    --red: #EE3643;
    --white: #FFFFFF;
    --red2: #ff5357;
    --white-opacity3: rgba(255, 255, 255, 0.3);
    --white-opacity5: rgba(255, 255, 255, 0.5);
    --black-opacity15: rgba(0,0,0,.15);
    --black-opacity25: rgba(0,0,0,0.25);
    --black-opacity75: rgba(0,0,0,0.75);
    --black-opaciti0001: rgba(0,0,0,0.0001);
    --grey-shadow: #eaeaea;
    --grey: #A9A9A9;
    --grey3: rgba(169,169,169, 0.3);
    --light-grey: #EAEAEA;
    --green: #518534;
    --green-shadow: #367315;
    --background-letter: #F4F4F4;
    --basic-green: #63A63E;
    --basic-grey: #3d546f;
    --basic-lightgray: #C5C5C5;
    --basic-lightgray3: rgba(197,197,197,0.3);
    --grey-wrapper: #f1f1f1;
    --basic-background: #F1F5F7;
    --special-yellow: #FFBF47;
    --special-blue: #3BBCE3;
    --special-lilac: #DC91D8;
    --special-lightgreen: #8ED78F;
    --special-lightyellow: #FFD180;
    --special-yellow2: #ffc047;
    --darkred: #CA2C37;
    --social-color: #212A3A;
    --darkgrey: #293449;
    --blue-shadow: #405069;
    --white2: #f3f7f9;
    --white3: #F2F6F8;
    --white4: #F9F5F0;
    --yellow-menu: #FFD180;
    --verydarkblue: #161D29;
    --darkblue: #1D2739;
    --blue: #32425C;
    --luck: #5FBB2D;
    --warning: #FFBF47;
    --error: #BA2732;
    --beige: #F7F3EC;
    --gray-paginator: #e5e5e5;
    --scale: #D7DCDE;
    --scale-green: #00ca74;
    --toggle: #ababab;
    --toggle-shadow: #cfcfcf;
}

body{
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    color: var(--white);
    background-color: var(--white);
}

a{
    text-decoration: none;
}

.page{
    height: 100%;
}

.page-body{
    min-width: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.social-list li,
.service-item-button li{
    list-style: none;
}

.main-header{
    background-color: var(--basic-background);
}

.main-menu-wrapper{
    background-color: var(--darkgrey);
    width: 100%;
}

.container{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-navigation{ 
    margin-bottom: 60px;
}

.main-menu{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    flex-wrap: wrap;
}

.logo{
    display: block;
    background-color: var(--red) ;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 55px;
    padding-right: 57px;
    box-shadow: 0px 5px var(--error);
    font-size: 1px; 
}

.logo:active{
    background-color: var(--error);
}

.main-header a{
    color: var(--white);
}

.user-menu{
    padding-top: 9px;
    padding-bottom: 9px;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.search{
    position: relative;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
    margin-right: 27px;
}

.input-search::-moz-placeholder{
    color: var(--white);
}

.input-search::-webkit-input-placeholder{
    color: var(--white); 
}

.input-search{
    width: 217px;
    height: 40px;
    background-color: var(--darkgrey);
    color: var(--white);
    opacity: 1;
    border: none;
    padding-left: 42px;
    outline:none;
}

.search-icon{
    position: absolute;
    left: 17px;
    top: 12px;
    opacity: 0.3;
    fill: var(--white)
}

.input-search:hover + .search-icon{
    opacity: 1;
}

.input-search:focus + .search-icon{
    fill: var(--red);
}

.input-search:focus{
    background-color: var(--white);
    color: var(--black);
    border: none;
}

a.bookmarks{
    position: relative;
    width: 121px;  
    padding-left: 24px; 
    margin-right: 0px;
    margin-left: 0px;
}

.bookmarks-icon{
    position: absolute;
    left: 2px;
    top: 13px;
    opacity: 0.3;  
}

.basket{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 102px;
    padding-left: 35px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-right: 0px;
    margin-left: 0px;
}

.basket-lk{
    background-color: var(--red);
}

.basket-icon{
    position: absolute;
    top: 13px;
    left: 12px;
    opacity: 0.3; 
}

.basket:hover > .basket-icon{
    opacity: 1;
}

.bookmarks:hover > .bookmarks-icon{
    opacity: 1;
}

a.bookmarks:active,
a.basket:active{
    background-color: var(--verydarkblue);
    opacity: 0.5;
}

a.order{
    display: block;
    width: 150px;
    text-align: center;
    background-color: var(--basic-green);
}

a.order:hover,
a.order:focus{
    background-color: var(--luck);
}

a.order:active{
    color: var(--white-opacity5)
}

.main-сontacts{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

p.name{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 30px;
    margin-right: 20px;
    width: 197px;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 16px;
    line-height: 24px;  
    font-style: italic;
    text-align: left;
    color: var(--red);
}

.contact-wrapper{
    display: flex;
    flex-direction: column;
    margin: 0 auto ;
    margin-left: 72px;
}

.telephone{
    margin: 0px;
}

a.telephone{
    position: relative;
    display: block;
    padding-top: 7px;
    padding-bottom: 8px;
    padding-left: 71px; 
    padding-right: 45px;
    margin-top: 5px;
    border: 2px solid var(--white);
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;  
    color: var(--red);
}

.telephone::before{
    content: "";
    position: absolute;
    left: 39px;
    top: 13px;
    width: 19px;
    height: 19px;
    background-image: url(../img/icon-phone.svg);
    background-repeat: no-repeat;
    background-position: 0 0;    
}

.address{
    text-align: center;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    color: var(--blue);  
}

a.login{
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 21px;
    line-height: 21px;
    color: var(--black);
}

a.login-enter{
    display: block;
    margin-bottom: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 45px;
    padding-right: 27px;
    background-color: var(--white);
}

.login-wrapper{
    position: relative;
}

.login-enter-icon{
    position: absolute;
    left: 18px;
    top: 14px;
}

.login-enter:hover > .login-enter-icon path{
    fill: var(--basic-grey);
}

.login-enter:active > .login-enter-icon path{
    fill: var(--basic-lightgray)
}

a.login-reg{
    display: block;
    margin-bottom: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: var(--white);
}

.account{
    text-align: center;
}

a.login-enter:hover,
a.login-reg:hover,
.account a:hover{
    color: var(--red);
}

a.login-enter:hover::before{
    fill: var(--basic-grey);
}

a.login:active,
.account a:active{
    color: var(--basic-lightgray);
}

.login-user:hover > .login-user-icon{
    fill: var(--basic-grey);
}

.login-user:active > .login-user-icon{
    fill: var(--basic-lightgray);
}

.account a{
    display: inline-block;
    vertical-align: middle;
    margin-left: 9px;
    margin-right: 11px;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: var(--blue);
}

.login-wrapper-user{
    width: 299px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin-bottom: 42px;
    margin-top: 46px;
}

.wrapper-user{
    background-color: var(--white);
}

.wrapper-authorization{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 281px;
    margin-top: 46px;
    margin-bottom: 47px;
}

.login-user{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 6px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 56px;   
}

.login-user-icon{
    position: absolute;
    left: 14px;
    top: 15px;
    fill: var(--basic-lightgray);  
}

.exit-user{
    padding-top: 13px;
    padding-bottom: 12px;
} 

.login-exit-icon{
    position: absolute;
    left: 260px;
    top: 15px;
}

.login-exit-icon:hover path{
    fill: var(--basic-grey);
}

.login-exit-icon:active path{
    fill: var(--basic-lightgray);
}

.main-navigation{
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.list-navigation{
    display: flex;
    flex-wrap: wrap;
    width: 940px;
    margin: 0;
    padding: 0;
    list-style: none;
    min-height: 60px;
    justify-content: space-between;
    background-color: var(--blue); 
}

.item-navigation:first-child a{
    padding-left: 52px;
}

.item-navigation:last-child a{
    padding-right: 48px;
}
.item-navigation a{
    display: block;
    padding-top: 16px;
    padding-bottom: 20px;
    padding-right: 24px;
    padding-left: 30px;
}

.item-navigation a:hover,
.item-navigation a:focus{
    background-color: var(--darkgrey);
}

.item-navigation a:active{
    background-color: var(--darkblue);
    opacity: 0.5;
}

.promo-list{
    display: grid;
    grid-template-columns: 300px 299px 299px;
    grid-template-rows: auto auto auto;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
}
.promo{
    margin-top: 59px;
}

.promo-list h3{
    width: 137px;
    margin-left: 23px;
    margin-top: 20px;
    margin-bottom: 14px;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 24px;
    line-height: 30px;
    color: var(--white);
}

.promo-section{
    display: block;
    width: 135px;
    margin-left: 23px;
    margin-top: 14px;
    margin-bottom: 21px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 14px;
    line-height: 18px;  
    color: var(--white);
    text-transform: uppercase;
    text-align: center;
    background-color: var(--white-opacity3);
}

.promo-item-materials{
    position: relative;
    overflow: hidden;
    background-color: var(--special-yellow); 
    background-image: url(../img/icon-1.svg);
    background-size: 44px 65px;
    background-repeat: no-repeat;
    background-position: 213px 31px;
}

.promo-item-instrument{
    background-color: var(--special-blue) ;
    background-image: url(../img/icon-2.svg);
    background-size: 75px 61px;
    background-repeat: no-repeat;
    background-position: 194px 34px;
}

.promo-item-technic{
    background-color: var(--special-lilac);
    background-image: url(../img/icon-3.svg);
    background-size: 78px 62px;
    background-repeat: no-repeat;
    background-position: 191px 31px;
}

.promo-item-discount{
    background-color: var(--special-lightgreen);
    background-image: url(../img/icon-4.svg);
    background-size: 59px 72px;
    background-repeat: no-repeat;
    background-position: 196px 26px;
}

.promo-item-delivery{
    grid-column-start: 3;
    grid-row-start: 3;
    background-color: var(--special-yellow2);
    background-image: url(../img/icon-5.svg);
    background-size: 78px 63px;
    background-repeat: no-repeat;
    background-position: 191px 32px;
}

.promo-item-materials a:hover,
.promo-item-instrument a:hover,
.promo-item-technic a:hover,
.promo-item-discount a:hover,
.promo-item-delivery a:hover{
    background-color: var(--basic-lightgray3);
}

.promo-item-materials a:active,
.promo-item-instrument a:active,
.promo-item-technic a:active,
.promo-item-discount a:active,
.promo-item-delivery a:active{
    background-color: var(--grey3);
}

.promo-item-marketing{
    grid-column: 1/3;
    grid-row: 2/4;
    position: relative;
}

.slider{
    list-style: none;
    padding: 0px 0px;
    margin: 0;

}

.slider h3{
    margin: 0;
    padding-top: 23px;
    padding-left: 24px;
    margin-bottom: 5px;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: var(--white);
    font-weight: bold;
}

.slider p{
    margin: 0;
    font-family: "Cuprum", "Tahoma", sans-serif;
    margin-left: 24px;
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
}

.slider .open-catalog{
    position: absolute;
    display: block;
    margin: 0;
    width: 192px;
    padding-top: 11px;
    padding-bottom: 9px;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--red);
    opacity: 1;
    bottom: 27px;
    left: 24px;
}

.slider-perforator{
    min-height: 266px;
    background-color: var(--grey);
    background-image: url(../img/perforator.jpg);
    background-size:  cover;
}

.slider-drills{
    min-height: 266px;
    background-color: var(--grey);
    background-image: url(../img/drills.jpg);
    background-size:  cover;
}

.slider .open-catalog:hover{
    background-color: var(--darkred);
}

.slider .open-catalog:active{
    background-color: var(--error);
}

.slide{
    display: none;
}

.slide-current{
    display: block;
}

.slider-controls{
    position: absolute;
    bottom: 36px;
    left: 295px;
    z-index: 10;
    display: flex;
    width: 30px;
    justify-content: space-between;
}
  
.slider-controls button{
    padding: 0;
    width: 10px;
    height: 10px;
    background-color: var(--white);
    border: 2px solid var(--white);
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls .current{
    background-color: var(--red);
}
  
a.slider-back{
    position: absolute;
    top: 122px; 
    left: 25px;
}

a.slider-next{
    position: absolute;
    top: 122px; 
    right: 19px;
}

.new::before,
.new .product-item-buttons::before{
    content: "new";
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    width: 100px; 
    height: 30px; 
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 14px;
    line-height: 35px;
    text-transform: uppercase;
    top: 7px;
    right: -26px; 
    color: var(--white);
    background-color: var(--red);
    transform: rotate(45deg);
    z-index: 5;
}

.product{
    margin-bottom: 50px;
    margin-top: 59px;
}

.product-wrapper,
.manufacturers-wrapper{
    background-color: var(--white4);
    margin:0 0;
    padding: 0 0;
    display: flex;
    flex-direction: row;   
    justify-content: space-between;
    align-items: center;
}

.product h2,
.catalog h2,
.manufacturers h2{
    margin:0 0;
    padding: 0 0;
    padding-top: 31px;
    padding-bottom: 30px;
    padding-left: 28px;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: normal;
    color: var(--blue);
}    

.product .all-product{
    display: block;
    padding-top: 11px;
    padding-bottom: 9px;
    width: 192px;
    margin-top: 25px;
    margin-bottom: 26px;
    margin-right: 14px;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
    background-color: var(--red);
}

.manufacturers .all-manufacturers{  
    display: block;
    padding-top: 11px;
    padding-bottom: 9px;
    width: 192px;
    margin-top: 25px;
    margin-bottom: 26px;
    margin-right: 19px;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
    background-color: var(--red);
}

.product .all-product:hover,
.manufacturers .all-manufacturers:hover{
    background-color: var(--darkred);
}

.product .all-product:active,
.manufacturers .all-manufacturers:active{
    background-color: var(--error);
}

.product-list,
.manufacturers-list{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-top: 20px;    
}

.product-item{
    list-style: none;
    position: relative;
    overflow: hidden;
    width: 218px;
    min-height: 316px;
    margin-right: 20px;
    border: 1px solid var(--light-grey);
    text-align: center;
    margin-bottom: 18px;
}

.product-img{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 218px;
    height: 161px;
    margin-left: -5px;
    margin-top: 4px;  
}

.product-item h3{
    margin: 0px;
    margin-left: 21px;
    margin-right: 22px;
    margin-top: 12px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    color: var(--black);
}

.price-old{
    margin: 0;
    margin-top: 8px;
    margin-bottom: 13px;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration-line: line-through;
    color: var(--grey);
}

.price-new{
    position: relative;
    margin: 0;
    padding: 0;
    padding-top: 9px;
    padding-bottom: 11px;
    padding-left: 9px; 
    padding-right: 0px;
    margin-left: 44px;
    margin-right: 52px;
    margin-bottom: 21px;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--white);
    background-color: var(--red);
    border-radius: 3px;
}

.price-new::after{
    content: "";
    position: absolute;
    top: 0px;
    right: -28px;
    border-top: 19px solid transparent;
    border-bottom: 19px solid transparent;
    border-left: 20px solid var(--red);
    margin-right: 10px;
}

h3+.price-new{
    margin-top: 39px;
}

.product-item-buttons{
    display: none;
    position: absolute;
    top: 0;
    width: 218px;
    height: 124px;
    padding-top: 37px;
    background-color: var(--white);
}

.product-item:hover{
    box-shadow: 0 4px 20px var(--black-opacity15);
    border: 1px solid var(--grey-shadow);     
}

.product-item:hover .product-item-buttons,
.product-item-active .product-item-buttons{
    display: block;
} 

a.buy{
    padding-left: 8px;
    padding-top: 11px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    font-family: "Cuprum", "Tahoma", sans-serif;
}

a.tab{
    padding-left: 2px;
    padding-top: 9px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    font-family: "Cuprum", "Tahoma", sans-serif;
}

.buy{
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 126px;
    padding-bottom: 9px;
    background-color: var(--basic-green);
    margin-bottom: 11px;
    margin-left: 40px;
    border-radius: 2px;
    box-shadow: inset 0px -3px 0 0px var(--green-shadow)
}

.buy::before{
    content: "";
    position: absolute;
    left: 29px;
    top: 9px;
    width: 15px;
    height: 15px;
    background-image: url(../img/icon-cart.svg);
    background-repeat: no-repeat;
    background-position: 0 0;  
    opacity: 0.3; 
}

a.buy{
    color: var(--white);
    background-color: var(--basic-green);
}

a.buy:hover{
    background-color: var(--luck);
}

a.buy:active{
    background-color: var(--green);
}

.tab{
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 127px;
    padding-bottom: 6px;
    margin-left: 40px;
    border-radius: 2px;
    border: solid 3px var(--basic-green)
}

a.tab{
    color: var(--blue);
}

a.tab:hover{
    border: 3px solid var(--blue);
}

a.tab:active{
    opacity: 0.5;
}

.product .product-item:nth-child(4n){
    margin-right: 0;
}

.catalog .product-item:nth-child(3n+1){
    margin-right: 0;
}

.manufacturers-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 218px;
    height: 143px;
    margin-bottom: 20px;
    margin-right: 20px;
    border: 1px solid var(--light-grey);
}

.manufacturers-item:nth-last-child(4-n){
    margin-bottom: 0px;
}

.manufacturers-item:hover{
    box-shadow: 0 4px 20px var(--black-opacity15);
    border: 1px solid var(--grey-shadow);  
}

.manufacturers-item:active{
    box-shadow: 0 4px 20px var(--black-opacity15);
    border: 1px solid var(--grey-shadow); 
    opacity: 0.5;
}

.manufacturers-item:nth-child(4n){
    margin-right: 0;
}

.manufacturers-list img:active{
    opacity: 0.5;
}

.service{
    background-color: var(--basic-background);
    margin-top: 48px;
    padding-bottom: 2px;
}

.service-grid{
    display: grid;
    grid-template-columns: 240px 1fr;
}

.service-grid h2{
    grid-column: 1 / -1;
    margin: 0;
    margin-top: 64px;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--black);
    font-family: "Cuprum", "Tahoma", sans-serif;
}

.text-service{
    grid-column: 1 / -1;
    width: 400px;
    margin-top: 25px;
    margin-left: -1px;
}

.service h3{
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--blue);
    font-family: "Cuprum", "Tahoma", sans-serif;
}

.service p{
    margin: 0;
    padding: 0;
    padding-top: 1px;
    font-size: 13px;
    line-height: 24px;
    color: var(--black);
}

p.guarantee-text{
    margin: 0;
    padding: 0;
    padding-top: 1px;
    font-size: 13px;
    line-height: 24px;
    color: var(--black);
}

.service-item-button{
    position: relative;
    padding: 0;
    margin: 0;
    margin-top: 71px;
    border: none;
}

.service-item-button::before{
    content: "";
    width: 10px;
    min-height: 279px;
    position: absolute;
    right: 0;
    top: -45px;
    background-image: url(../img/line.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.service-item-button button{
    width: 240px;
    height: 61px;
    text-align: left;
    padding: 0;
    padding-left: 22px;
    padding-bottom: 5px;
    border: none;
}

.service button{
    padding-top: 2px;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    font-family: "Cuprum", "Tahoma", sans-serif;
    color: var(--white);
    background-color: var(--blue);
    box-shadow: 0px 1px 0px var(--darkgrey), inset 0px 1px 0px var(--blue-shadow);
}

.service button:hover{
    color: var(--white);
    background-color: var(--darkgrey);
}

.service button:active,
.service .active-button{
    box-shadow: 0px 1px 0px var(--white), inset 0px 1px 0px var(--white);
    color: var(--blue);
    background-color: var(--white);
}

.service-list{
    position: relative;
    padding: 0;
    margin: 0;
    width: 620px;
    margin-top: 68px;
    margin-left: 80px;
}

.service-item{
    padding: 0;
    margin: 0;
    min-height: 283px;
    display: none;
}

.service-current{
    display: block;
}

.service-item h3{
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    font-weight: normal;
}

.delivery h3{
    margin-bottom: 29px;
}

.guarantee h3{
    margin-bottom: 24px;
}

.credit h3{
    margin-bottom: 27px;
}

.service-item p{
    width: 313px;
}

.img-delivery{
    background-image: url(../img/delivery.png);;
    padding-right: 0px;
    background-size: 468px 261px;
    background-position: 149px 22px;
    background-repeat: no-repeat;
}

.img-guarantee::before{
    content: "";
    position: absolute;
    left: 239px;
    top: -2px;
    width: 389px;
    height: 283px;
    background-image: url(../img/guarantee.png);
    background-repeat: no-repeat;
}

.img-credit::before{
    content: "";
    position: absolute;
    left: 165px;
    top: -1px;
    width: 465px;
    height: 285px;
    background-image: url(../img/credit.png);
    background-repeat: no-repeat;
}

.application-credit{
    display: block;
    margin: 0;
    padding: 0;
    margin-top: 27px;
    margin-right: 426px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    font-family: "Cuprum", "Tahoma", sans-serif;
    background-color: var(--red2);
    border-radius: 3px;
}

.application-credit:hover{
    background-color: var(--darkred);
}

.application-credit:active{
    background-color: var(--error);
}

.index-columns{
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    margin-top: 70px;
}

.index-columns h2{
    margin: 0;
}

h2.features-header,
h2.contacts-header{
    margin-bottom: 26px;
    margin-top: 0px;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-weight: normal;
}

.features{
    width: 450px;
    position: relative;
}

.contacts{
    width: 301px;
    position: relative;
}

.features .features-about{
    width: 180px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 8px;
    padding-top: 9px;
    padding-bottom: 11px;
    padding-left:40px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--red);
    font-family: "Cuprum", "Tahoma", sans-serif;
}

.contacts .write-us{
    width: 300px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 21px;
    padding-top: 13px;
    padding-bottom: 7px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--red);
    font-family: "Cuprum", "Tahoma", sans-serif;
}

.features,
.contacts{
    color: var(--black);
}

.features p{
    margin: 0;
    margin-bottom: 27px;
    font-size: 13px;
    line-height: 24px;
    text-align: left; 
}

.contacts p{
    width: 210px;
    margin-bottom: 34px;
    font-size: 13px;
    line-height: 24px;
    text-align: left; 
}

.features .transport-list{
    list-style: none;
    margin: 0;
    padding: 0;
   padding-top: 4px;
}

.features .transport-item{
    position: relative;
    padding-left: 37px;
    font-size: 18px;
    line-height: 24px;
    font-family: "Cuprum", "Tahoma", sans-serif;
    margin-bottom: 12px;
}

.features .transport-item::before{
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    left: 0;    
    top: 11px;
    background-color: var(--red);
}

@-moz-document url-prefix(){
    h2.features-header, h2.contacts-header{
        margin-bottom: 24px;
    }

    .features p{
        margin-bottom: 25px;
    }    

    .contacts .write-us{
        padding-top: 9px;
        padding-bottom: 10px;
    }

    .features .features-about{
        padding-top: 8px;
    }

    .application-credit{
        margin-top: 25px;
    }
}

p.features-p{
    width: 400px;
    padding: 0;
    margin: 0;
    margin-bottom: 0;
}

.contacts .write-us:active,
.features .features-about:active{
    background-color: var(--error);
}

.contacts .write-us:hover,
.features .features-about:hover{
    background-color: var(--darkred);
}

.page-catalog{
    display: grid;
    grid-template-columns: 220px 1fr;
    align-content: start;
    margin-bottom: 58px;
}

.header-catalog{
    grid-column: 1 / -1;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    padding-left: 28px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--blue);
    background-color: var(--basic-background); 
    font-family: "Cuprum", "Tahoma", sans-serif;
}


@-moz-document url-prefix(){
    .header-catalog{
        padding-top: 26px;
    }
}

.breadcrumbs{
    grid-column: 1 / -1;
    padding: 0;
    margin:0;
    margin-top: 18px;
    margin-bottom: 23px;
    display: flex;
}

.breadcrumbs-item{
    position: relative;
    margin-left: 14px;
    margin-right: 27px;
    list-style: none;
}

.home{
    position: absolute;
    left: -16px;
    top: 4px;
    width: 14px;
    height: 12px;
    background-image: url(../img/icon-home.svg);
    background-repeat: no-repeat;
    background-position: 0 0;  
}

.breadcrumbs-item:not(:first-child)::before{
    content: "";
    position: absolute;
    left: -26px;
    top: 4px;
    width: 8px;
    height: 12px;
    background-image: url(../img/icon-right-small.svg);
    background-repeat: no-repeat;
    background-position: 0 0;  
}

.breadcrumbs a{
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--black);
}

.filter{
    width: 220px;
    min-height: 720px;
}

.filter h2{
    font-size: 13px;
    line-height: 18px;
    color: var(--black);
    text-transform: uppercase;
    background-color: var(--beige);
    display: block;
    margin-top: 0px; 
    padding-left: 18px;
    padding-top: 9px;
    padding-bottom: 11px;
    font-weight: normal;
}

.filter fieldset{
    padding: 0;
    border: none;    
}

.filter-item{
    margin: 0;
    margin-top: 16px;
    margin-bottom: 10px;
}

.range-filter{
    margin-top: 1px;
}

.filter legend{
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--black);
}

.range-controls{
    position: relative;
    height: 41px;
    background-color: var(--beige);
    border-radius: 5px;
    margin-top: 11px;
    margin-bottom: 7px;
    padding-top: 37px;
    padding-left: 20px;
    padding-right: 20px;
}

.range-controls .scale{
    height: 2px;
    background-color: var(--scale);
}

.range-controls .bar{
    width: 80%;
    height: 2px;
    background-color: var(--scale-green);
}

.range-controls .toggle{
    position: absolute;
    top:27px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--white);
    background-color: var(--toggle);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 var(--toggle-shadow);
    cursor: pointer;
}

.range-controls .toggle-min{
    left: 18px;
}

.range-controls .toggle-max{
    left: 160px;
}

.filter label{
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    color: var(--black);
}

.price-controls{
    display: flex;
    justify-content: space-between;
}

.price-controls span{
    color: var(--black);
    padding-top: 12px;
}

.price-controls input{
    width: 64px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    border: none;
    border-radius: 3px;
    background-color: var(--beige);
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
}

.filter-maker{
    margin-top: 41px;
    margin-left: 0px;
}

.filter-option{
    margin-top: 20px;
    margin-left: -5px;
}

.filter-option label{
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.filter-radio{
    position: relative;
}

.filter label{
    cursor: pointer;
    user-select: none;
}

.filter-input-checkbox + label::before{
    content: "";
    position: absolute;
    left: -35px;
    top: -3px;
    width: 23px;
    height: 23px;
    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.9;
}

.filter-input-checkbox:checked + label::before{
    content: "";
    position: absolute;
    top: -3px;
    left: -35px;
    width: 27px;
    height: 23px;
    background-image: url(../img/checkbox-on.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.9;
}

.filter-input-checkbox:checked:hover + label::before,
.filter-input-checkbox:hover + label::before{
    opacity: 1;
}

.filter-input-checkbox:checked:focus + label,
.filter-input-checkbox:focus + label,
.filter-input-checkbox:checked:active + label,
.filter-input-checkbox:active + label{
    color: var(--grey)
}

.filter-input-checkbox:checked:disabled + label::before,
.filter-input-checkbox:disabled + label::before{
    opacity: 0.3;
}

.filter-input-radio + label::before{
    content: "";
    position: absolute;
    left: -35px;
    top: -3px;
    width: 25px;
    height: 25px;
    background-image: url(../img/radio-off.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.9;
}

.filter-input-radio:checked + label::before{
    content: "";
    position: absolute;
    left: -35px;
    top: -3px;
    width: 25px;
    height: 25px;
    background-image: url(../img/radio-on.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.9;
}

.filter-input-radio:checked:hover + label::before,
.filter-input-radio:hover + label::before{
    opacity: 1;
}

.filter-input-radio:checked:disabled + label::before,
.filter-input-radio:disabled + label::before{
    opacity: 0.3;
}

.filter-input-radio:checked:focus + label,
.filter-input-radio:focus + label,
.filter-input-radio:checked:active + label,
.filter-input-radio:active + label{
    color: var(--grey)
}

.filter-power{
    margin-top: 32px;
    margin-left: 0px;
}

@-moz-document url-prefix(){
    .filter-power{
        margin-top: 26px;
    }
}

.filter-option-radio{
    margin-top: 24px;
    margin-left: -5px;
}

.filter-button{
    padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    margin-top: 22px;
    width: 100%;
    padding-top: 9px;
    padding-bottom: 9px;
    border: 1px solid var(--gray-paginator);
    background-color: var(--white);
}

.catalog-wrapper{
    margin-left: 20px;
}

.sort{
    display: flex;
    background-color: var(--beige);
    padding-bottom: 10px;
    border-radius: 3px;
}

.sort h2{
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 18px;
    color: var(--black);
    text-transform: uppercase;
    padding-left: 20px;
    padding-top: 10px;
    font-weight: normal;
}

.sort a{
    font-size: 13px;
    line-height: 18px;
    color: var(--black);
}

.sort-menu{
    opacity: 0.3;
    text-transform: uppercase;
    border-bottom: 1px dotted var(--red);
}

.sort-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 357px;
    list-style: none;
    margin: 0;
    margin-left: 100px;
    margin-top: 6px;
}

.sort-item{
    padding-right: 1px;
}

.sort-item:last-child{
    margin-right: 1px;
}

.sort-menu:hover{
    opacity: 1;
    border-bottom: 1px solid var(--red);
}

.sort-menu:active,
.sort .sort-activ{
    color: var(--red);
    opacity: 1;
    border: none
}

.up-dir{
    display: block;
    padding-top: 11px;
    padding-left: 44px;
    text-decoration: none;
}

.down-dir{
    display: block;
    padding-top: 11px;
    padding-left: 21px;
    text-decoration: none;
}

.down-dir path, 
.up-dir path{
    fill: var(--basic-lightgray);
}

.down-dir:hover path,
.up-dir:hover path{
    fill: var(--black);
}

.down-dir:active path,
.up-dir:active path,
.dir-active path{
    fill: var(--red);
}

.catalog{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-top: 28px;
    margin-bottom: 28px;
    width: 700px;
}

.catalog-paginator a{
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}

.catalog-paginator{
    display: flex;
}

.paginator{
    display: inline-block;
    vertical-align: middle;
    margin-right: 9px;
    margin-top: 0px;
    border-radius: 2px;
    border: 1px solid var(--gray-paginator);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: var(--black);
}

.paginator:hover{
    border: 1px solid var(--basic-lightgray);
}

.paginator:active{
    border: 1px solid var(--red);
}

.catalog-paginator-active{
    background-color: var(--red);
    color: var(--white);
}

.paginator:last-child{
    padding-left: 32px;
    padding-right: 29px;
}

.about-wrapper{
    background-color: var(--basic-background);
    padding-bottom: 67px
}

.about{
    width: 940px;
    grid-column: 1 / -1;
}

.about p{
    color: var(--black);
    font-size: 13px;
    line-height: 25px;
    margin: 0;
}

.about h2{
    color: var(--black);
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-family: "Cuprum", "Tahoma", sans-serif;
    padding-top: 64px;
    font-weight: normal;
}

.footer-container-nav{
    background-color: var(--blue);
    padding: 0 0;
    margin:0 0;
}

.footer-navigator{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 54px;
}

.footer-menu{
    margin-top: 38px;
}

.footer-wrapper{
    padding: 0px;
    margin: 0px;
}

.footer-logo{
    display: block;
    background-color: var(--red) ;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 41px;
    padding-right: 41px;
    margin-right: 103px;
    box-shadow: 0px 5px var(--error);
    font-size: 1px; 
}

.footer-navigator p{
    margin: 0;
    width: 323px;
    margin-top: 28px;
    margin-left: 1px;
    font-size: 18px;
    line-height: 24px;
    color: var(--white2);
    font-family: "Cuprum", "Tahoma", sans-serif;
}

.footer-navigator .footer-tel{
    margin: 0;
    margin-top: 27px;
    margin-left: 2px;
    font-size: 18px;
    line-height: 24px;
    color: var(--white2);
    font-family: "Cuprum", "Tahoma", sans-serif;
}

.list-footer-navigation-top a:hover,
.list-footer-navigation-bottom a:hover{
    text-decoration-line: underline;
}

.list-footer-navigation-top a:active,
.list-footer-navigation-bottom a:active{
    text-decoration: none;
    opacity: 0.5;
}

.list-footer-navigation-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 547px;
    width: 607px;
}

.list-footer-navigation-bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 582px;
    margin-top: 34px;
    margin-left: 24px;
}

.item-footer-navigation-top a{
    font-size: 18px;
    line-height: 24px;
    font-family: "Cuprum", "Tahoma", sans-serif;
    color: var(--white);
    margin-left: 59px;
}

.item-footer-navigation-bottom a{
    font-size: 18px;
    line-height: 24px;
    font-family: "Cuprum", "Tahoma", sans-serif;
    color: var(--yellow-menu);
    margin-left: 59px;
}

.footer-container{
    background-color: var(--darkgrey);
    margin: 0 0;
    padding: 0 0;
}

.holder{
    display: grid;
    grid-template-columns: 230px 1fr 160px 140px;
}

.holder p{
    font-size: 16px;
    line-height: 18px;
    color: var(--white);
    font-family: "Cuprum", "Tahoma", sans-serif;
}

.holder a{
    font-size: 16px;
    line-height: 18px;
    color: var(--yellow-menu);
    text-decoration: none;
    font-family: "Cuprum", "Tahoma", sans-serif;
}

.copyright{
    padding-left: 1px;
    padding-top: 22px;
}

.social-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 141px;
    justify-self: center;
    align-items: center;
    margin-left: -3px;
    margin-top: 9px;
}

.social-item{
    position: relative;
}

.social-button{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    width: 44px;
    height: 44px;
    margin-bottom: 0px;
    margin-right: -4px;
    border-radius: 50%;
    background-color:var(--social-color);
}

.social-button:hover,
.social-button:active{
    background-color:var(--red);
}

.button-vk{
    position: absolute;
    top: 15px;
    left: 11px;
}

.button-f{
    position: absolute;
    top: 11px;
    left: 15px;
}

.button-i{
    position: absolute;
    top: 11px;
    left: 9px;
}

.mail,
.developed{
    padding-bottom: 34px;
    padding-top: 19px;
}

.developed{
    padding-left: 28px;
}


.mail a:hover,
.developed a:hover{
    text-decoration-line: underline;
}

.mail a:active,
.developed a:active{
    text-decoration: none;
    color: var(--red);
}

.letter{
    display: none;
    width: 620px;  
    box-shadow: 0px 4px 20px var(--black-opacity15);
    border-top: solid 7px var(--red);
    position: fixed;
    top: calc(50% - 215px);
    left: calc(50% - 310px);
    background-color: var(--white);
    z-index: 10;
}

.letter-show{
    display: block;
    animation: bounce 0.6s;
}

.letter-wrapper{
    margin-top: 25px;
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.letter label{
    color: var(--black);
    font-size: 18px;
    line-height: 24px;
    font-family: "Cuprum", "Tahoma", sans-serif;
}

.letter input{
    border: 2px solid var(--basic-lightgray);
    border-radius: 2px;
    width: 200px;
    margin-top: 9px;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 5px;
    padding-left: 9px;
    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans", "Arial", sans-serif;
}

.letter-item{
    width: 220px;
}

p.letter-item{
    margin: 0;
    margin-top: 15px;
}

.letter-item-text{
    margin-top: 14px;
}

.letter textarea{
    resize: none;
    width: 440px;
    margin-top: 10px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    border: 2px solid var(--basic-lightgray);
    border-radius: 2px;
    padding-left: 11px;
    padding-top: 4px;
    padding-bottom: 11px;
    color: var(--grey);
}

.button-wrapper{
    margin-right: 80px;
    margin-left: 80px;
}

.letter-button{
    background-color: var(--background-letter);
    padding-top: 37px;
    padding-bottom: 37px;
}

.letter-forms .button{
    display: block;
    width: 460px;
    margin: auto;
    padding-top: 11px;
    padding-bottom: 9px;
    color: var(--white);
    background-color: var(--red);
    text-align: center;
    text-transform: uppercase;
    border: none;
    font-size: 14px;
    line-height: 18px;
    font-family: "Cuprum", "Tahoma", sans-serif;
}

.letter .button-close{
    position: absolute;
    right: 5px;
    top: 13px;
    border: none;
    background-color: var(--white);
}

.letter .button-close:focus{
    border: none;
}

.maps-popup{
    display: none;
    position: fixed;
    top: calc(50% - 224px);
    left: calc(50% - 471px);
    box-shadow: 0px 4px 20px var(--black-opacity15);
    border-top: solid 7px var(--red);
    background-color: var(--white);
    z-index: 10;
}

.maps-show{
    display: block;
    animation: bounce 0.6s;
}

.maps-popup .button-close-map{
    position: absolute;
    right: 4px;
    top: 10px;
    border: none;
    background-color: transparent;
}

iframe{
    width: 943px;
    height: 442px;
}

.maps-wrapper{
   display: flex;
   align-items: center;
   justify-content: center;
}

.basket-ok{
    display: none;
    width: 620px;  
    box-shadow: 0px 4px 4px var(--black-opacity25);
    border-top: solid 7px var(--red);
    position: fixed;
    top: calc(50% - 141px);
    left: calc(50% - 310px);
    background-color: var(--white);
    z-index: 10;
}

.basket-show{
    display: block;
    animation: bounce 0.6s;
}

.basket-ok p{
    position: relative;
    text-align: center;
    margin-top: 66px;
    margin-bottom: 68px;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: var(--black);
}

.basket-ok p::before{
    content: "";
    position: absolute;
    left: 82px;
    top: -18px;
    width: 66px;
    height: 66px;
    background-image: url(../img/icon-mark.svg);
    background-repeat: no-repeat;
    background-position: 0 0;  
}

.choice-wrapper{
    background-color: var(--grey-wrapper);
}

.basket-ok .button-close-basket{
    position: absolute;
    right: 5px;
    top: 11px;
    border: none;
    background-color: var(--white);
}

.place-order{
    display: inline-block;
    vertical-align: middle;
    padding-top: 12px;
    padding-bottom: 8px;
    padding-left: 48px;
    padding-right: 46px;
    margin-top: 36px;
    margin-bottom: 37px;
    margin-left: 114px;
    margin-right: 7px;
    color: var(--white);
    background-color: var(--red);
    text-align: center;
    text-transform: uppercase;
    border: none;
    font-size: 14px;
    line-height: 18px;
    font-family: "Cuprum", "Tahoma", sans-serif;
}

.purchases{
    display: inline-block;
    vertical-align: middle;
    padding-top: 11px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 31px;
    margin-top: 36px;
    margin-bottom: 37px;
    color: var(--black);
    background-color: var(--white);
    text-align: center;
    text-transform: uppercase;
    border: none;
    font-size: 14px;
    line-height: 18px;
    font-family: "Cuprum", "Tahoma", sans-serif;
}

.modal-error{
    animation: shake 0.6s;
}

@keyframes bounce{
    0%{
        transform: translateY(-2000px);
    }
    70%{
      transform: translateY(30px);
    }
    90%{
      transform: translateY(-10px);
    }
    100%{
      transform: translateY(0);
    }
}

@keyframes shake{
    0%,
    100%{
      transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90%{
      transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80%{
      transform: translateX(10px);
    }
}
  